<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
  
    <test name="MakeMy Trip Funtional Test" thread-count="5">
    <parameter name="browser" value="chrome"/>
    <parameter name = "Url" value = "http://www.makemytrip.com/"></parameter> 
    
    <classes>
        <class name="com.qa.makemytrip.BusTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


